.article{
    height: 200px;
    width: 170px;
    float: right;
    margin-left: 30px;}

    #communities
    {margin-left: 50px;
      margin-right: 50px}


    h1{
        text-align: center;
    }

    
